.form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .platform-radio {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        * {
            margin: 1em 0;
        }
    }
    .form-field {
        flex: 2;
        margin-top: auto;
    }
}
