<alounak-page>
  <form class="form" [formGroup]="form" (submit)="submit()" dir="rtl">
    <admin-phone-input [phone]="phone$ | async" (valid)="validUsername = $event" (change)="phoneSubject$.next($event.phone)"></admin-phone-input>
    <!-- <mat-form-field class="username">
      <input type="text" matInput formControlName="username" placeholder="نام کاربری" />
    </mat-form-field> -->
    <mat-form-field class="name">
      <input type="text" matInput formControlName="name" placeholder="نام" />
    </mat-form-field>
    <mat-form-field class="last-name">
      <input type="text" matInput formControlName="lastname" placeholder="نام خانوادگی" />
    </mat-form-field>
    <mat-form-field class="premiere">
      <input type="number" step="0.01" matInput formControlName="premiere" placeholder="ویژه (از صفر تا 25)" />
    </mat-form-field>
    <mat-form-field class="certificate">
      <input type="number" step="0.01" matInput formControlName="certificate" placeholder="حرفه‌ای (از صفر تا 2)" />
    </mat-form-field>
    <mat-form-field class="about-me">
      <textarea matInput [matTextareaAutosize]="true" [matAutosizeMinRows]="3" formControlName="aboutme" placeholder="درباره من"></textarea>
    </mat-form-field>

    <button type="submit" class="submit" color="primary" mat-raised-button [disabled]="!validUsername ||form.invalid || form.untouched">
      <mat-icon>done</mat-icon>
      ثبت تغییرات
    </button>
  </form>
</alounak-page>
